/* Variables */

:root {
  --basic-black: #000000;
  --bright-red: #FB565A;
  --red: #E74246;
  --moderate-ted: #D7373B;
  --vivid-green: #00CA74;
  --lime-green: #00BC6C;
  --dark-cyan: #00AA62;;
  --medium-sea-green: #00CA74;
  --bright-orange: #EFC849;
  --bright-bright-orange: #EAB534;
  --vivid-orange:#E5A722;
  --grey: #EEEEEE;
  --basic-white: #ffffff;
  --dark-grayish-blue: #283136;
  --special: #444444;
  --light-grey: #E1E1E1;
  --very-light-grey: #DFDFDF;
  --very-dark-grey: #4D4D4D;
  --light-grey-2: #D5D5D5;
  --grey-67: #ABABAB;
  --dimgray: #666666;
  --shade-cyan-blue: #D7DCDF;
  --gainsboro: #DFDFDF;
  --gray: #A6A6A6;
}

/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--dark-grayish-blue);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1440px;
    padding: 0;
}

.visually-hidden{
    display: none;
}

/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content; 
    align-content: start; 
}

/* Header */

header {
    background-color: var(--grey);
    width: 1440px;
}

.main-header-bar {
    margin: 0 auto;
}

/* Header-Logo */

.main-logo {
    margin-left: 0;
    padding-top: 49px;
    width: 160px;
    height: 65px;
    float: left;
}

.main-logo img {
    background-image: url(img/nerds-logo.svg);
}

.main-logo img:hover {
    background-image: url(img/nerds-logo.svg);
}

.main-logo img:active {
   background-image: url(img/gray-logo.svg);
   color: var(--gray);
}

/* Main navigation */

.main-navigation {
    display: inline-block;
    width: 1157px;
    height: 114px;
    margin-left: 140px;
    margin-right: 143px;
    color: var(--basic-black);
}

.main-navigation-wrapper {
    list-style: none;
    float: left;
    width: 437px;
    padding-top: 75px;
    margin-left: 202px;
    margin-right: 280px; 
    margin-bottom: 9px;
    text-align: center;
}

.site-navigation {
    display: grid;
    grid-template-columns: 63px 77px 76px 86px;
    grid-column-gap: 45px; 
}

.main-navigation-wrapper ul {
    margin: 0;
    padding: 0;
}

.main-navigation-wrapper li {
    display: inline;
}

.main-navigation a {
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: var(--bright-red);
}

.site-navigation a:active,
.user-navigation a:active {
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}

/* User navigation */

.user-navigation {
    float: right;
    padding-top: 75px;
    margin-right: 0;
    margin-bottom: 9px;
    width: 75px;
    text-align: right;
}

/* Description */

.description-section {
    background-color: var(--grey);
    width: 1440px;
}

.description {
    display: flex;
    margin-left: 140px;
    margin-right: 143px;
}

.description-text {
    float: left;
    width: 538px;
}

.description-text h2 {
    display: block;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    height: 111px;
    text-align: left;
    margin-bottom: 25px;
}

.description-text p {
    display: block;
    width: 400px;
    height: 49px;
    text-align: left;
    margin-bottom: 38px;
}

.slider {
   float: right;
   width: 760px;
   margin-left: 0;
}

/* Features */


.features-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.features-list p {
    margin-bottom: 32px;
}

.features-list li {
    width: 300px;
}

.features-list h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.features-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin-left: 140px;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 0;
}

.feature-list a {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.feature-item a {
    background-color: var(--bright-red);
}

.feature-item-2 a {
    background-color: var(--vivid-green);
}

.feature-item-3 a {
    background-color: var(--bright-orange);
}

.feature-item a:hover {
    background-color: var(--red);
}
.feature-item a:focus,
.feature-item a:active {
    background-color: var(--moderate-ted);
}

.feature-item-2 a:hover{
    background-color: var(--lime-green);
}
.feature-item-2 a:focus,
.feature-item-2 a:active {
    background-color: var(--dark-cyan);
}

.feature-item-3 a:hover{
    background-color: var(--bright-bright-orange);
}
.feature-item-3 a:focus,
.feature-item-3 a:active {
    background-color: var(--vivid-orange);
}

/* Buttons */

.button {
    background: var(--bright-red);
    color: var(--basic-white);
    text-decoration: none; 
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    border: none;
    border-radius: 3px;
    padding: 17px 39px 15px 40px;
    outline: none;
    vertical-align: middle;
}

.button:hover {
    background-color: var(--red);
}

.button:active {
    background-color: var(--moderate-ted);
}

.learn-more-button {
    padding: 17px 54px 15px 54px;
}

.write-us-button {
    display: block;
    padding: 17px 44px 15px 44px;
    margin-top: 37px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Index-content */

.index-content {
    display: block;
    margin-left: 140px;
    margin-right: 140px;
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
}

.main-content {
    display: flex;
    min-height: 361px;
}

.index-content-left {
    float: left;
    width: 651px;
    margin-top: 34px;
    display: block;
    padding-bottom: 73px;
}

.index-content-left h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin-bottom: 32px;
}

.index-content-left p {
    display: block;
}

.index-content-bottom p {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 23px;
    margin-top: 40px;
}

.index-content-bottom {
    display: block;
}

.services {
    list-style: none;
    margin-left: 32px;
}

.service-item {
    margin-bottom: 24px;
    display: list-item;
}

.service-item:last-child {
    margin-bottom: 0;
}

.index-content-right {
    display: block;
    float: right;
    width: 360px;
    margin-left: 149px;
    margin-top: 39px;
    padding-bottom: 74px;
}

.index-logo {
    max-width: 100%;
    height: auto;
}

.text-logo {
    display: block;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 31px;
    margin-top: 37px;
    font-weight: bold;
    text-align: center;
    width: 358px;
}

table {
    display: table;
    box-sizing: border-box;  
    border-color: var(--basic-black);
}

.benefits-items {
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    border-color: inherit;
    vertical-align: middle;
}

tr {
    display: table-row;
    border-color: inherit;
    vertical-align: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.benefits-items td {
    list-style: none;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
    margin-bottom: 11px;
    text-align: left;
    min-width: 120px;
}

.sup {
    font-size: 26px;
    line-height: 40px;
    vertical-align: super;
}

.benefits-items th {
    font-weight: normal;
    line-height: 18px;
    min-width: 120px;
    text-align: left;
}

/* Projects */

.projects {
    display: block;
    padding: 0;
    margin: 0;
}

.projects-items {
    display: flex;
    border-bottom: 2px solid var(--grey);
    margin-left: 140px;
    margin-right: 140px;
    list-style: none;
    min-height: 180px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.project-item:nth-child(1) {
    width: 199px;
    padding-right: 48px;
}

.project-item:nth-child(2) {
    width: 209px;
    padding-left: 45px;
    padding-right: 44px;
}

.project-item:nth-child(3) {
    width: 185px;
    padding-left: 58px;
    padding-right: 55px;
}

.project-item:nth-child(4) {
    width: 173px;
    padding-left: 63px;
}

.project-item {
    display: flex;
    opacity: 0.2;
    color: var(--basic-black);
    height: 52px;
    align-items: center;
    border-right: 2px solid var(--grey);
}

.project-item:hover {
    opacity: 1;
}

.project-item:active {
    opacity: 0.1;
}

/* Contacts */

.map {
    margin-top: 80px;
}

.contacts {
    display: block;
    background-color: var(--basic-white);
    width: 319px;
    height: 308px; 
    position: absolute;
    left: 140px;
    top: 1897px; 
}

.contacts p {
    margin-left: 50px;
    display: block;
}

.contacts-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 49px;
    margin-left: 50px;
}

.contacts-address {
    line-height: 18px;
    color: var(--dimgray);
    margin-top: 23px;
    margin-left: 50px;
}

.contacts-phone {
    font-weight: normal;
    line-height: 18px;
    color: var(--dimgray);
    margin: 29px auto 0;
    padding: 10px;
    width: 204px;
}

.Nerds-logo {
    display: block;
    position: absolute;
    left: 822px;
    top: 1929px; 
}

/* Social Button */

.social-button a:hover {
    background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.social-button a:focus,
.social-button a:active{
    background: linear-gradient(0deg, var(--moderate-ted), var(--moderate-ted)), var(--basic-white);
}

/* Main Footer */

.footer-connect {
    display: inline-block;
}

.footer-social {
    float: left;
    display: flex;
    padding-bottom: 68px;
    padding-top: 68px;
    padding-left: 140px;
    padding-right: 139px;
}

.footer-social-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 261px;
    justify-content: space-between;
}

.footer-social-list li {
    display: list-item;
}

.social-button {
    align-items: center;
    width: 81px;
    justify-content: center;
    background-color: var(--light-grey);
    border-radius: 50%;
    padding: 30px 30px 30px 30px;
}

.footer-friendship {
    float: left;
    margin: 0;
    padding: 0;
}

.footer-friendship h2 {
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
    margin-bottom: 10px;
    width: 660px;
    margin-top: 75px;
}

.footer-friendship p {
    display: block;
    line-height: 22px;
    color: var(--special);
    width: 373px;
}

/* Inner Page */
/* Main Header */

.inner-page .main-header {
    background-color: var(--grey);
}

.inner-page {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* Catalog Title */

.catalog-title {
    width: 1440px;
    text-align: center;
    background-color: var(--grey);
    height: 163px;
    margin: 0;
    padding-top: 78px;
    padding-bottom: 78px;
}

.catalog-title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-transform: none;
}

/* Filters */

.goods {
    float: left;
    margin-top: 55px;
    margin-left: 140px;
    color: var(--dark-grayish-blue);
    margin-right: 140px;
}

.goods-filters {
    float: left;
    width: 260px;
}

.filter-name {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
/* Filter worth */

.range-controls {
    background-color: var(--grey);
    border-radius: 3px;
    position: absolute;
    width: 260px;
    height: 80px;
    margin-bottom: 14px;
    margin-top: 48px;
}

.scale {
    background-color: var(--shade-cyan-blue);
    height: 2px;
    width: 205px;
    margin-top: 39px;
    margin-left: 33px;
}

.bar {
    background-color: var(--medium-sea-green);
    height: 2px;
    width: 67%;
}

.toggle {
    background-color: var(--grey-67);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    height: 4px;
    left: 0px;
    position: absolute;
    top: 30px;
    width: 4px;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

/* Price-controls flters */

.price-controls label {
    display: inline-block;
    line-height: 22px;
    text-transform: uppercase;
}

.min-price {
    float: left;
}

.max-price {
    float: right;
}

.price-controls input {
    background-color: var(--grey);
    border-radius: 3px;
    border: none;
    width: 80px;
    height: 38px;
    text-align: center;
    margin-left: 12px;
    font-size: 16px;
    margin-top: 142px;
    margin-bottom: 54px;
}

/* Grid-filter */

.grid,
.feature {
    list-style: none;
    margin-top: 16px;
    line-height: 19px;
    padding: 0;
}

input[type="radio"]+label {
    margin-left: 11px;
}

input[type=radio]+label {
    cursor: pointer;
    line-height: 30px;
    margin-bottom: 46px;
}

/* Features-Filter */

.feature label {
    margin-left: 10px;
}

input[type=checkbox]+label {
    cursor: pointer;
    line-height: 30px;
    margin-bottom: 50px;
}

/* Pages-Filters */

.goods-page {
    float: right;
    padding: 0;
    margin-right: 140px;
}

.pages-filters {
    text-transform: uppercase;
    padding: 0;
    width: 760px;
    display: inline-block;
}

.pages-filters p {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 55px;
    margin-right: 266px;
    margin-bottom: 48px;
    float: left;
}

.sort {
    padding: 0;
    margin: 0;
}

.sort li {
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    margin-top: 61px;
    margin-bottom: 54px;
    list-style: none;
    display: inline-block;
}

.sort a {
    text-decoration: none;
    opacity: 0.3;
    color: var(--basic-black);
}

.sort a:hover {
    opacity: 0.6;
}

.sort a:active {
    opacity: 1;
}

/* Catalog */

.catalog-list {
    font-weight: normal;
    color: var(--dimgray);
    margin: 0;
    padding: 0;
    width: 760px;
    display: inline-block;
    list-style: none;
}


.catalog-list li {
    display: inline;
}

.catalog-item {
    position: relative;
    width: 360px;
    height: 578px;
    margin-bottom: 31px;
    float: left;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
    float: right;
}

.catalog-content {
    display: none; /*Временно*/
}

.catalog-list h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black)
}


/* Pagination */

.pagination {
    padding: 0;
    margin: 0;
}

.pagination-list {
    line-height: 18px;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 60px;
    list-style: none;
    text-transform: uppercase;
}

.pagination-list li {
    cursor: pointer; 
    display: inline-block;
    background-color: var(--grey);
    border-radius: 3%;
    width: 50px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 17px;
    text-align: center;
    vertical-align: top;
}

.pagination-list li:last-child {
    width: 260px;
}

.pagination-list a {
    color: var(--basic-black);
}

.pagination-list li:hover {
    background-color: var(--gainsboro);
}

.pagination-list li:active {
  background-color: var(--light-grey-2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list a:active {
    opacity: 0.3
}

.pagination-list .current,
.pagination-list .current:active,
.pagination-list .current:hover {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    width: 50px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 17px;
    border-radius: 3px;
    height: 50px;
    cursor: default;
    text-align: center;
    vertical-align: top;
}

/* Inner Footer */

.catalog-contacts {
    display: block;
    background-color: var(--basic-white);
    width: 319px;
    height: 308px;
    position: absolute;
    left: 140px;
    top: 2626px;
}

.catalog-contacts p {
    margin-left: 50px;
}

.Nerds-logo-catalog {
    display: block;
    position: absolute;
    left: 822px;
    top: 2658px;
}
